:root {
  // General
  --background-color: #ffffff;
  --black-text-color: #333;
  --primary-color: #007bff;
  --white-text-color: #FFF;

  // Footer
  --footer-top-background-color: #333333;
  --footer-bottom-background-color: #1d1d1d;
  --mail-submit-background-color: #9747ff;

  // Section
  --choice-button-background-left: #4E31FF;
  --choice-button-background-right: #AF04FF;

  // Sizes
  --max-width: 1140px;
}

// General
$background-color: var(--background-color);
$black-text-color: var(--black-text-color);
$white-text-color: var(--white-text-color);
$primary-color: var(--primary-color);

// Footer
$footer-top-background-color: var(--footer-top-background-color);
$footer-bottom-background-color: var(--footer-bottom-background-color);
$mail-submit-background-color: var(--mail-submit-background-color);

// Section
$choice-button-background-left: var(--choice-button-background-left);
$choice-button-background-right: var(--choice-button-background-right);

// Sizes
$max-width: var(--max-width);
