@import '@/assets/scss/variables.scss';

div.multiple-choice {
  display: flex;
  flex-direction: row;
  gap: 2rem;



  button {
    font-size: 1.25rem;
    color: $white-text-color;
    background-image: linear-gradient(45deg, $choice-button-background-left, $choice-button-background-right);
    border: 0;
    border-radius: 1rem;
    padding: 1rem;

    transition: 0.25s;

    &:hover {
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 8px;
    }
  }
}