div.adventure-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);

  & > * {
    padding: 4px;
  }

  & > .adventure-card-left {
    padding: 4px 8px;

    & > .adventure-card-title {
      font-size: 20px;
      font-weight: 500;
    }

    & > .adventure-card-description {
      font-size: 14px;
    }
  }

  & > .adventure-card-right {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    align-items: center;

    & > .adventure-card-button {
      opacity: 0.35;
      cursor: pointer;
    }
  }
}
