@import '@/assets/scss/variables.scss';

.section-view {
  display: grid;
  grid-template: 1fr / 1fr;
  gap: 1rem;
  max-width: $max-width;
  width: 100%;

  .scenario {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    align-items: center;
    height: 600px;
    gap: 1rem;

    & > div {
      border-radius: 8px;
    }

    .text-scenario {
      height: 100%;
      color: $black-text-color;
      text-align: justify;
      display: flex;
      flex-direction: column;
      justify-content: center;

      p {
        padding: 1rem;
      }
    }

    .image-scenario {
      height: 100%;
      background: center;
      background-size: cover;
    }
  }

  .interactivity {
    display: flex;
    justify-content: center;
  }

  .admin {
    max-width: $max-width;
    width: 100%;

    pre {
      width: 100%;
        overflow:hidden;
    }
  }
}
