@import '@/assets/scss/variables.scss';

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: var(--max-width);
  margin: auto;
  width: 100%;

  &-general-container {
    background-color: $background-color-container;
    padding: 30px;
    border-radius: 30px;
    width: 550px;
    box-sizing: border-box;

    &-title {
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        width: 36px;
        height: 36px;
        margin-right: 5px;
      }

      h2 {
        font-size: 16px;
        margin: 5px 0;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px;

      &-account-icon {
        background-color: $background-color-input;
        padding: 20px;
        width: 70px;
        height: 70px;
        border-radius: 50%;

        img {
          box-sizing: border-box;
          width: 100%;
        }
      }

      &-role {
        font-size: 14px;
        font-weight: 600;
        margin: 5px 0;
      }

      &-role::first-letter {
        text-transform: uppercase;
      }

      &-date {
        font-size: 14px;
      }

      &-form {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        &-group {
          position: relative;
          margin: 10px 0;
          width: 100%;
        }

        &-input {
          background-color: $background-color-input;
          border: none;
          border-radius: 12px;
          padding: 10px 10px 10px 50px;
          width: 100%;
          box-sizing: border-box;

          &-lastname {
            padding: 10px;
            margin-left: 10px;
          }

          &-firstname {
            margin-right: 10px;
          }

          &-lastname, &-firstname {
            width: 160px;
          }
        }

        &-label {
          position: absolute;
          box-sizing: border-box;
          top: 5px;
          left: 10px;

          img {
            height: 100%;
          }
        }

        &-name {
          display: flex;
          flex-direction: row;
        }

        &-buttons {
          margin-top: 10px;

          &-update, &-delete {
            width: 160px;
            height: 36px;
            cursor: pointer;
          }

          &-update {
            margin-right: 10px;
            background-color: $background-color-input;
            border: 2px solid $mail-submit-background-color;
            border-radius: 12px;
            color: $mail-submit-background-color;
          }

          &-delete {
            margin-left: 10px;
            background-color: $mail-submit-background-color;
            border: 2px solid $mail-submit-background-color;
            border-radius: 12px;
            color: #fff;
          }
        }
      }
    }
  }

  &-statistics-container {
    background-color: $background-color-container;
    padding: 30px;
    border-radius: 30px;
    width: 550px;
    box-sizing: border-box;

    &-title {
      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        width: 36px;
        height: 36px;
        margin-right: 5px;
      }

      h2 {
        font-size: 16px;
        margin: 5px 0;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px;
    }
    
  }
}



/*
.profile {
  &-page {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-container {
    height: fit-content;
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-family: 'MedievalSharp', serif;
  }

  &-info {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  &-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-name {
    font-size: 32px;
    color: #333;
    margin: 0 0 10px;
  }

  &-email,
  &-join-date {
    font-size: 18px;
    color: #666;
    text-align: center;
  }

  &-favorites {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 2rem;

    &-title {
      font-size: 24px;
      color: #333;
      margin: 0 0 10px;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
    }
  }

  &-favorite {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    &:hover {
      transform: scale(1.1);
      transition: transform 0.3s;
    }

    &-title {
      font-size: 16px;
      color: #333;
      margin: 5px 0;
    }

    &-image {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }
}
*/
