@import '@/assets/scss/variables.scss';

.register-page {
  display: flex;
  height: 70vh;
  background: $login-background;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  .register-page-left-panel, .register-page-right-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  .register-page-left-panel {
    background-image: linear-gradient(45deg, $login-bottom-left-side-background-color, $login-top-left-side-background-color);
    color: $white-text-color;
    text-align: center;
    border-radius: 30px 0 0 30px;

    h1 {
      font-size: 3rem;
      margin: 1rem;

      span {
        background: -webkit-linear-gradient(45deg, $login-adventure-first-color, $login-adventure-second-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .register-page-illustration {
      img {
        width: 100%;
        max-width: 400px;
      }
    }
  }

  .register-page-right-panel {
    background-color: #f8f8ff;
    border-radius: 0 20px 20px 0;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      color: $login-accent-color;
    }

    .register-page-form {
      width: 100%;
      max-width: 300px;
      display: flex;
      flex-direction: column;

      .register-page-form-names-group {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .register-page-form-input-group {
          display: flex;
          width: 48%;

          .register-page-form-input-first-name {
            padding: 10px;
          }
        }
      }

      .register-page-form-input-group {
        display: flex;
        margin-bottom: 1rem;
        position: relative;

        label {
          position: absolute;
          top: 5px;
          left: 10px;

          img {
            width: 24px;
          }
        }

        .register-page-form-input {
          width: 85%;
          padding: 10px 10px 10px 40px;
          border-radius: 12px;
          border: none;
          background: $login-light-purple-color !important;

          &::placeholder {
            color: $login-dark-purple-color;
          }
        }
      }

      .register-page-form-actions {
        display: flex;
        padding-left: 5px;
        margin-bottom: 1rem;
        font-size: 0.75rem;

        a {
          color: $black-text-color;
          text-decoration: none;
          font-weight: normal;

          &:hover {
            text-decoration-thickness: 0.5px;
            text-decoration: underline;
          }
        }
      }

      button {
        display: flex;
        align-self: center;
        background: linear-gradient(45deg, $login-bottom-left-side-background-color, $login-top-left-side-background-color);
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 1rem;
        cursor: pointer;
        width: min-content;

        &:hover {
          background-color: #5b00d6;
        }

        &:focus {
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        }
      }

      .form-error {
        color: #ff0000;
        margin: 15px;
        font-weight: bold;
        text-align: center;

      }
    }
  }

}
