@import '@/assets/scss/variables';

button {
  margin-bottom: 0.75rem;
  padding: 0.5rem 1rem;
  width: fit-content;
  font-size: 1.25rem;
  background: transparent;
  color: $black-text-color;
  border: 2px solid $primary-color;
  border-radius: 1rem;
  cursor: pointer;
}

input[type='text'] {
  width: 300px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  margin-bottom: 0.75rem;
}

a {
  &:hover {
    cursor: pointer;
  }
}

.display-book {
  display: flex;
  flex-direction: row;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 40px;

  .book-information {
    width: calc(100% - 270px);
    padding-right: 40px;

    h1 {
      margin: 0;
    }
  }

  .image-book {
    width: 270px;
    height: 350px;

    img {
      width: 100%;
      height: calc(100% - 3rem);
      object-fit: cover;
      border-radius: 16px;
    }
  }
}
